/* imports */
@import "tailwindcss";
/* @import "design-system-tw/theme-style/theme.css"; */
@import "design-system-tw/styles/global.css";

/* fonts */
@font-face {
  font-family: poppins;
  src: url("./assets/poppins_R.ttf") format("TrueType");
  font-weight: 500;
}

@font-face {
  font-family: nahid;
  src: url("./assets/nahid_FD.ttf") format("TrueType");
}

@theme {
  --font-*: initial;
  --font-primary: nahid;
  --font-secondary: poppins;
}

@layer base {
  body {
    font-family: var(--font-secondary);
  }
}

@layer components {
  .body1 {
    font-size: var(--text-xl);
    font-weight: 500;
  }
  .body2 {
    font-size: var(--text-lg);
    font-weight: 500;
  }
}
